In [ ]:
import pandas as pd
import numpy as np

# Load dataset
data = pd.read_csv('station_belem.csv')

In [ ]:
# Basic Data Exploration
# Check first 5 rows of data
print(data.head())

   YEAR     JAN     FEB     MAR     APR     MAY     JUN     JUL     AUG  \
0  1961   26.43   25.53   25.88   26.07   26.31   26.64   26.77   26.72
1  1962   26.30   26.06   26.15   26.04   26.83   26.74   26.71   26.94
2  1963   26.25   26.03   26.02   26.42   27.17   26.94   26.93   26.98
3  1964   25.70   25.52   25.41   25.75   26.55   26.91   27.16   27.34
4  1965  999.90  999.90  999.90  999.90  999.90  999.90  999.90  999.90

      SEP     OCT     NOV     DEC
0   26.62   26.46   26.50   26.51
1   26.87   26.80   26.68   26.91
2   26.96   26.85   27.06   26.24
3   27.32  999.90  999.90  999.90
4  999.90  999.90  999.90  999.90

In [ ]:
# Check data types, number of records, and missing values
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YEAR    59 non-null     int64
 1   JAN     59 non-null     float64
 2   FEB     59 non-null     float64
 3   MAR     59 non-null     float64
 4   APR     59 non-null     float64
 5   MAY     59 non-null     float64
 6   JUN     59 non-null     float64
 7   JUL     59 non-null     float64
 8   AUG     59 non-null     float64
 9   SEP     59 non-null     float64
 10  OCT     59 non-null     float64
 11  NOV     59 non-null     float64
 12  DEC     59 non-null     float64
dtypes: float64(12), int64(1)
memory usage: 6.1 KB
None

In [ ]:
# Descriptive statistics of numerical columns
print(data.describe())

              YEAR         JAN         FEB         MAR         APR  \
count    59.000000   59.000000   59.000000   59.000000   59.000000
mean   1990.000000  323.827119  307.265254  274.310339  307.512542
std      17.175564  451.804181  444.443504  427.290193  444.284771
min    1961.000000   25.700000   25.520000   25.410000   25.750000
25%    1975.500000   26.625000   26.740000   26.645000   27.040000
50%    1990.000000   27.600000   27.330000   27.260000   27.710000
75%    2004.500000  999.900000  999.900000  514.475000  999.900000
max    2019.000000  999.900000  999.900000  999.900000  999.900000

              MAY         JUN         JUL         AUG         SEP         OCT  \
count   59.000000   59.000000   59.000000   59.000000   59.000000   59.000000
mean   307.700678  291.209831  291.128305  274.800847  274.814915  340.785424
std    444.163981  436.008070  436.058280  427.001304  426.993040  458.163190
min     26.310000   26.380000   26.190000   26.000000   26.340000   26.010000
25%     27.260000   27.180000   26.980000   27.190000   27.120000   27.355000
50%     27.900000   27.860000   27.820000   27.940000   28.060000   28.500000
75%    999.900000  999.900000  999.900000  514.480000  514.555000  999.900000
max    999.900000  999.900000  999.900000  999.900000  999.900000  999.900000

              NOV         DEC
count   59.000000   59.000000
mean   307.905593  340.710000
std    444.032621  458.215488
min     26.420000   26.080000
25%     27.410000   27.370000
50%     28.430000   28.100000
75%    999.900000  999.900000
max    999.900000  999.900000

In [ ]:
# Compute correlation matrix
corr_matrix = data.corr()

# Display correlation matrix
print(corr_matrix)

          YEAR       JAN       FEB       MAR       APR       MAY       JUN  \
YEAR  1.000000 -0.029341 -0.163851 -0.081238 -0.087017 -0.102427 -0.005729
JAN  -0.029341  1.000000  0.716489  0.796948  0.635341  0.635251  0.672449
FEB  -0.163851  0.716489  1.000000  0.831576  0.834736  0.752127  0.706286
MAR  -0.081238  0.796948  0.831576  1.000000  0.831572  0.831681  0.869760
APR  -0.087017  0.635341  0.834736  0.831572  1.000000  0.834858  0.790315
MAY  -0.102427  0.635251  0.752127  0.831681  0.834858  1.000000  0.790483
JUN  -0.005729  0.672449  0.706286  0.869760  0.790315  0.790483  1.000000
JUL  -0.025805  0.672416  0.790552  0.869620  0.874595  0.790439  0.914158
AUG   0.012648  0.627809  0.660118  0.821355  0.745855  0.745910  0.869646
SEP  -0.030793  0.543177  0.574045  0.731815  0.659732  0.659818  0.781888
OCT  -0.028693  0.409997  0.442619  0.597299  0.602571  0.522699  0.721844
NOV   0.009936  0.472617  0.504238  0.659880  0.586736  0.586842  0.706196
DEC  -0.065128  0.410022  0.442675  0.597372  0.522655  0.522758  0.640312

           JUL       AUG       SEP       OCT       NOV       DEC
YEAR -0.025805  0.012648 -0.030793 -0.028693  0.009936 -0.065128
JAN   0.672416  0.627809  0.543177  0.409997  0.472617  0.410022
FEB   0.790552  0.660118  0.574045  0.442619  0.504238  0.442675
MAR   0.869620  0.821355  0.731815  0.597299  0.659880  0.597372
APR   0.874595  0.745855  0.659732  0.602571  0.586736  0.522655
MAY   0.790439  0.745910  0.659818  0.522699  0.586842  0.522758
JUN   0.914158  0.869646  0.781888  0.721844  0.706196  0.640312
JUL   1.000000  0.869626  0.781927  0.640179  0.706296  0.640393
AUG   0.869626  1.000000  0.910410  0.763851  0.831759  0.680591
SEP   0.781927  0.910410  1.000000  0.763547  0.831698  0.680502
OCT   0.640179  0.763851  0.763547  1.000000  0.843089  0.689620
NOV   0.706296  0.831759  0.831698  0.843089  1.000000  0.843106
DEC   0.640393  0.680591  0.680502  0.689620  0.843106  1.000000

In [ ]:
df = pd.DataFrame(data)
# Exclude column 'YEAR' from mean calculation
cols_to_mean = df.columns.drop('YEAR')

In [ ]:
# Calculate mean by row, excluding column 'YEAR'
row_means = df[cols_to_mean].mean(axis=1)

# Display row means
print(row_means)

0      26.370000
1      26.585833
2      26.654167
3     269.780000
4     999.900000
5     999.900000
6     107.339167
7     269.886667
8      27.280833
9      26.820000
10     26.401667
11     26.578333
12    108.184167
13    999.900000
14    270.068333
15     26.777500
16     26.812500
17    108.124167
18    270.254167
19     27.169167
20    108.381667
21    270.245833
22    999.900000
23    999.900000
24    999.900000
25    675.734167
26    108.567500
27    189.359167
28    108.088333
29     27.352500
30     27.245000
31    999.900000
32    999.900000
33    999.900000
34    999.900000
35    675.871667
36     27.721667
37    109.210000
38     27.785833
39     27.468333
40     27.592500
41    432.683333
42    108.899167
43    189.614167
44     28.215833
45     27.988333
46    108.780000
47     27.841667
48    109.122500
49    595.111667
50    918.949167
51     27.920833
52     28.337500
53     28.179167
54    837.870000
55    109.550833
56     28.285000
57     28.146667
58    190.150000
dtype: float64

In [ ]:
# Add new column with row means to DataFrame
df['Row Means'] = row_means

# Display updated DataFrame
print(df)

    YEAR     JAN     FEB     MAR     APR     MAY     JUN     JUL     AUG  \
0   1961   26.43   25.53   25.88   26.07   26.31   26.64   26.77   26.72
1   1962   26.30   26.06   26.15   26.04   26.83   26.74   26.71   26.94
2   1963   26.25   26.03   26.02   26.42   27.17   26.94   26.93   26.98
3   1964   25.70   25.52   25.41   25.75   26.55   26.91   27.16   27.34
4   1965  999.90  999.90  999.90  999.90  999.90  999.90  999.90  999.90
5   1966  999.90  999.90  999.90  999.90  999.90  999.90  999.90  999.90
6   1967   26.55   25.99   25.93   26.24   26.33   26.43   26.19   26.00
7   1968   25.99  999.90   25.74  999.90  999.90   26.38   26.67   26.76
8   1969   26.64   27.11   27.34   27.58   27.90   27.72   27.01   27.27
9   1970   26.70   26.99   26.63   27.11   27.16   26.76   26.77   26.82
10  1971   26.44   26.03   26.07   26.24   26.44   26.48   26.39   26.58
11  1972   25.95   25.75   26.43   26.61   26.88   27.04   26.51   26.42
12  1973   26.91   26.74   27.06   27.10   27.47   27.28   27.00   27.15
13  1974  999.90  999.90  999.90  999.90  999.90  999.90  999.90  999.90
14  1975  999.90  999.90  999.90   26.83   26.84   26.95   26.42   26.79
15  1976   26.31   26.11   26.66   27.04   27.25   26.70   26.41   26.89
16  1977   26.05   25.71   25.97   26.32   26.94   27.03   27.24   27.25
17  1978   26.80   27.41   26.70   27.04  999.90   27.15   26.94   27.04
18  1979   27.08  999.90   25.79  999.90   26.71   26.70  999.90   27.40
19  1980   26.89   25.82   26.62   27.21   27.84   27.54   27.24   27.21
20  1981  999.90   26.28   27.58   28.04   27.39   27.31   26.94   27.25
21  1982   26.60   26.76   26.98   27.21   27.51   27.21   27.03   26.97
22  1983  999.90  999.90  999.90  999.90  999.90  999.90  999.90  999.90
23  1984  999.90  999.90  999.90  999.90  999.90  999.90  999.90  999.90
24  1985  999.90  999.90  999.90  999.90  999.90  999.90  999.90  999.90
25  1986  999.90  999.90  999.90  999.90  999.90  999.90  999.90  999.90
26  1987   26.81   26.81   26.71   27.31   27.71   28.01   27.41   27.51
27  1988   27.03   27.33   26.93   26.93   27.43  999.90   27.23   27.93
28  1989   26.64   26.74   26.44   26.74   26.64   27.14   26.84   27.44
29  1990   27.26   26.56   27.06   27.76   27.66   27.46   26.86   27.16
30  1991   26.47   26.97   26.37   26.97   27.27   27.67   27.37   27.17
31  1992  999.90  999.90  999.90  999.90  999.90  999.90  999.90  999.90
32  1993  999.90  999.90  999.90  999.90  999.90  999.90  999.90  999.90
33  1994  999.90  999.90  999.90  999.90  999.90  999.90  999.90  999.90
34  1995  999.90  999.90  999.90  999.90  999.90  999.90  999.90  999.90
35  1996  999.90  999.90  999.90  999.90  999.90  999.90  999.90   27.54
36  1997   26.53   26.83   27.43   27.03   27.73   28.03   27.63   27.73
37  1998   28.03   28.03   27.83   28.83  999.90   28.33   28.13   28.23
38  1999   27.42   27.92   27.12   27.42   27.32   27.72   27.82   28.22
39  2000   27.31   26.71   27.01   27.11   27.51   27.61   27.31   27.71
40  2001   26.61   26.41   26.91   27.21   27.81   27.41   27.41   27.91
41  2002   27.20   27.80   27.30   27.40   27.80   27.50   27.70  999.90
42  2003  999.90   27.21   27.21   27.76   28.10   28.21   27.91   28.06
43  2004   27.66   26.76   27.26  999.90   28.45   27.45   26.96   27.76
44  2005   28.20   28.05   28.05   27.90   28.00   28.25   28.29   28.60
45  2006   27.95   27.75   27.60   27.65   27.08   28.17   28.37   28.38
46  2007  999.90   26.97   27.17   27.52   28.12   27.97   27.97   28.07
47  2008   25.96   26.96   27.01   26.56   27.91   27.81   28.25   28.81
48  2009   28.60  999.90   26.16   27.16   27.01   27.86   28.36   29.06
49  2010   27.65   28.30   29.05   28.20   28.84  999.90  999.90  999.90
50  2011  999.90  999.90  999.90  999.90  999.90  999.90  999.90  999.90
51  2012   27.74   27.04   27.34   28.04   27.89   27.64   27.84   27.94
52  2013   28.28   27.98   28.08   28.33   28.33   28.43   27.78   28.63
53  2014   27.87   27.72   27.92   27.97   27.97   28.26   28.11   28.27
54  2015   27.82   27.62  999.90  999.90  999.90  999.90  999.90  999.90
55  2016  999.90   28.22   28.32   28.87   28.72   28.32   28.52   28.87
56  2017   27.51   27.36   27.11   27.71   28.61   28.71   28.51   28.86
57  2018   27.86   27.26   28.11   27.81   28.21   28.61   28.46   28.26
58  2019   27.60   27.20   27.35   27.90   28.40   28.50   28.80   28.85

       SEP     OCT     NOV     DEC   Row Means
0    26.62   26.46   26.50   26.51   26.370000
1    26.87   26.80   26.68   26.91   26.585833
2    26.96   26.85   27.06   26.24   26.654167
3    27.32  999.90  999.90  999.90  269.780000
4   999.90  999.90  999.90  999.90  999.900000
5   999.90  999.90  999.90  999.90  999.900000
6   999.90   26.01   26.42   26.08  107.339167
7    26.86   26.94   26.87   26.73  269.886667
8    26.97   27.06   27.21   27.56   27.280833
9    26.34   26.76   26.90   26.90   26.820000
10   26.43   26.42   26.73   26.57   26.401667
11   26.52   26.55   27.08   27.20   26.578333
12   26.82   27.59   27.19  999.90  108.184167
13  999.90  999.90  999.90  999.90  999.900000
14   26.78   26.64   26.75   27.12  270.068333
15   26.83   27.20   27.10   26.83   26.777500
16   27.21   27.43   27.32   27.28   26.812500
17   27.00   26.96   27.23   27.32  108.124167
18   27.58   26.97   27.67   27.45  270.254167
19   27.40   27.34   27.50   27.42   27.169167
20   27.13   27.38   27.77   27.61  108.381667
21   26.98  999.90  999.90  999.90  270.245833
22  999.90  999.90  999.90  999.90  999.900000
23  999.90  999.90  999.90  999.90  999.900000
24  999.90  999.90  999.90  999.90  999.900000
25   27.10   28.10   27.10   27.31  675.734167
26   28.11   28.11   28.41  999.90  108.567500
27   27.33  999.90   27.53   26.84  189.359167
28   27.34  999.90   27.94   27.26  108.088333
29   27.46   27.86   27.66   27.47   27.352500
30   27.77   27.17   27.77   27.97   27.245000
31  999.90  999.90  999.90  999.90  999.900000
32  999.90  999.90  999.90  999.90  999.900000
33  999.90  999.90  999.90  999.90  999.900000
34  999.90  999.90  999.90  999.90  999.900000
35   27.54   28.14   28.04  999.90  675.871667
36   28.23   28.73   28.53   28.23   27.721667
37   28.33   28.53   28.43   27.92  109.210000
38   27.92   28.02   28.52   28.01   27.785833
39   27.61   27.91   28.31   27.51   27.468333
40   28.01   28.21   28.51   28.70   27.592500
41  999.90  999.90  999.90  999.90  432.683333
42   28.06   28.11   28.41   27.85  108.899167
43   27.11  999.90   28.06   28.10  189.614167
44   28.30   28.45   28.55   27.95   28.215833
45   28.68   28.58   27.68   27.97   27.988333
46   28.32   27.37   28.27   27.71  108.780000
47   28.76   28.76   28.71   28.60   27.841667
48   28.90   28.76   29.15   28.55  109.122500
49  999.90  999.90  999.90  999.90  595.111667
50  999.90  999.90  999.90   28.49  918.949167
51   27.94   28.53   28.64   28.47   27.920833
52   28.63   28.63   28.53   28.42   28.337500
53   28.12   28.32   29.01   28.61   28.179167
54  999.90  999.90  999.90  999.90  837.870000
55   28.77   28.92   29.07   28.11  109.550833
56   29.21   28.61   28.66   28.56   28.285000
57   28.51   28.56   28.66   27.45   28.146667
58   28.90   28.50  999.90  999.90  190.150000